@charset "CP850";
/* FONT FACES :D */
@font-face {
  font-family: gotham_thin;
  src: url("/font/gotham-thin-webfont.eot");
  src: local("☺︎"), url("/font/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("/font/gotham-thin-webfont.woff") format("woff"), url("/font/gotham-thin-webfont.ttf") format("truetype"), url("/font/gotham-thin-webfont.svg#gotham_thinregular") format("svg"); }
@font-face {
  font-family: gotham_book;
  src: url("/font/gotham-book-webfont.eot");
  src: local("☺︎"), url("/font/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("/font/gotham-book-webfont.woff") format("woff"), url("/font/gotham-book-webfont.ttf") format("truetype"), url("/font/gotham-book-webfont.svg#gotham_bookregular") format("svg"); }
@font-face {
  font-family: gotham_light;
  src: url("/font/gotham-light-webfont.eot");
  src: local("☺︎"), url("/font/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("/font/gotham-light-webfont.woff") format("woff"), url("/font/gotham-light-webfont.ttf") format("truetype"), url("/font/gotham-light-webfont.svg#gotham_lightregular") format("svg"); }
/* SASS Variables that are hidden from you! */
/* Global CSS for all queries */
html {
  overflow-y: scroll;
  font-family: gotham_light, Arial, sans-serif; }

span {
  display: inline-block; }

a {
  color: inherit;
  text-decoration: none; }

.oliveGreen {
  color: #9aac60; }

.goldYellow {
  color: #e9e5e0; }

.dyButton {
  display: inline-block;
  height: 30px;
  width: 140px;
  line-height: 30px;
  text-align: center;
  background: #5f856a;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.clear {
  clear: both; }

.fa:hover {
  color: #a9cfbd; }

/* From 0px to 767px width, do this awesome mobile styling */
@media only screen and (max-width: 819px) {
  body {
    font-size: 14px; }

  header {
    text-align: center;
    font-family: gotham_book, Arial, sans-serif;
    background: url(/images/texture/bdy.png);
    color: white; }
    header #title {
      padding: 0.2em 0; }
    header h1 {
      font-size: 10vw; }
      header h1 span, header h1 span + span + span {
        color: #5f856a; }
      header h1 span + span {
        color: #9aac60; }
    header h2 {
      color: #5f856a;
      font-size: 5.5vw;
      font-family: gotham_thin, Arial, sans-serif; }
    header #mobileMenu {
      display: block;
      background: #616d39;
      cursor: pointer;
      padding: 0.2em 0; }
      header #mobileMenu .fa-navicon {
        font-size: 1.8em;
        padding: 0 0.2em;
        color: #e9e5e0; }
    header #mobileMenu:hover {
      background: #67743c; }
    header nav {
      display: none;
      /* For mobile we will hide this */
      background: #bac692; }
      header nav li {
        border-bottom: 1px solid #616d39;
        color: #616d39; }
        header nav li a {
          display: block;
          padding: 0.3em 0; }
        header nav li a:hover {
          background: #e9e5e0; }
      header nav li:first-of-type {
        border-top: 1px solid #616d39; }

  #middle {
    background: url(/images/texture/bdy.png); }
    #middle article {
      display: block;
      height: 50vw;
      background: grey; }
      #middle article h3 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        height: 100%;
        line-height: 50vw;
        color: white;
        font-family: gotham_book, Arial, sans-serif;
        font-size: 3em;
        background: rgba(95, 133, 106, 0.6); }
        #middle article h3 span {
          vertical-align: middle;
          line-height: normal; }
    #middle #projectContainer #proj_1 {
      background: url(/images/pdy01.png);
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center; }
    #middle #projectContainer #proj_2 {
      background: url(/images/gpp01.png);
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center; }
    #middle #projectContainer #proj_3 {
      background: url(/images/mobile1.png);
      background-size: 55%;
      background-repeat: no-repeat;
      background-position: center; }
    #middle #projectContainer #proj_4 {
      background: url(/images/hr03.png);
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center; }
    #middle #projectContainer #proj_5 {
      background: url(/images/ignite01.png);
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center; }
    #middle #projectContainer #proj_6 {
      background: url(/images/franzi01.png);
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center; }
    #middle #projectContainer #proj_7 {
      background: url(/images/mountain01.png);
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center; }
    #middle #projectContainer article:nth-child(even) h3 {
      background: rgba(95, 133, 106, 0.8); }
    #middle #bioPreview {
      display: none; }
    #middle #bio {
      background: url(/images/texture/bdy.jpg);
      color: white;
      padding: 0.5em 1em; }
      #middle #bio figure {
        height: 270px;
        background: url(/images/pic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      #middle #bio article {
        color: #5f856a;
        height: auto;
        display: inline-block;
        position: relative;
        right: 10px;
        margin: 0;
        background: none;
        padding: 0 1em; }
        #middle #bio article h2 {
          font-size: 2em;
          line-height: 10%;
          font-family: gotham_book, Arial, sans-serif; }
        #middle #bio article p, #middle #bio article aside, #middle #bio article h2 {
          padding-top: 1em;
          line-height: 2em; }
        #middle #bio article h2 {
          text-transform: uppercase; }
        #middle #bio article aside {
          text-align: center; }
          #middle #bio article aside .fa {
            font-size: 3em; }
    #middle #softSkills, #middle #hardSkills, #middle #achievement {
      color: #5f856a;
      padding: 0.5em 1em; }
      #middle #softSkills h2, #middle #hardSkills h2, #middle #achievement h2 {
        text-align: center;
        font-size: 2em;
        text-transform: uppercase;
        font-family: gotham_book, Arial, sans-serif; }
      #middle #softSkills section, #middle #hardSkills section, #middle #achievement section {
        padding-top: 1em; }
        #middle #softSkills section h2, #middle #hardSkills section h2, #middle #achievement section h2 {
          padding: 0.3em 0;
          font-size: 1.5em;
          font-family: gotham_thin, Arial, sans-serif;
          color: white;
          background: #5f856a;
          text-transform: uppercase;
          text-align: center; }
      #middle #softSkills ul, #middle #hardSkills ul, #middle #achievement ul {
        padding-top: 1em; }
        #middle #softSkills ul li, #middle #hardSkills ul li, #middle #achievement ul li {
          display: inline-block;
          padding: 0.3em 0;
          width: 45%;
          text-indent: -9px;
          margin-left: 10px; }
          #middle #softSkills ul li .fa, #middle #hardSkills ul li .fa, #middle #achievement ul li .fa {
            padding: 0 0.5em; }
      #middle #softSkills .ulOne, #middle #hardSkills .ulOne, #middle #achievement .ulOne {
        color: #9aac60; }
        #middle #softSkills .ulOne h2, #middle #hardSkills .ulOne h2, #middle #achievement .ulOne h2 {
          background: #9aac60; }
      #middle #softSkills .ulThree, #middle #hardSkills .ulThree, #middle #achievement .ulThree {
        color: #3a4847; }
        #middle #softSkills .ulThree h2, #middle #hardSkills .ulThree h2, #middle #achievement .ulThree h2 {
          background: #3a4847; }
      #middle #softSkills aside, #middle #hardSkills aside, #middle #achievement aside {
        text-align: right;
        font-family: gotham_book, Arial, sans-serif;
        font-size: 1.1em; }
    #middle #achievement ul li {
      text-indent: -1.3em;
      margin-left: 1.6em;
      width: 45%; }
    #middle #project {
      color: #5f856a; }
      #middle #project h2 {
        font-size: 2.3em;
        padding: 1em 0;
        text-transform: uppercase;
        text-align: center;
        background: url(/images/texture/teal.jpg);
        color: white;
        font-family: gotham_light, Arial, sans-serif;
        border-bottom: 1px dashed #5f856a; }
      #middle #project > p {
        font-size: 1.8em;
        text-align: center;
        background: #3a4847;
        color: white;
        font-family: gotham_thin, Arial, sans-serif;
        opacity: 0.9; }
        #middle #project > p a {
          padding: 0.4em 0;
          display: block; }
        #middle #project > p a:hover {
          background: #68807f; }
      #middle #project .crop-container {
        width: 100%;
        overflow: hidden;
        margin: 0.2em 0; }
        #middle #project .crop-container img {
          display: block;
          width: 100%; }
      #middle #project article {
        background: inherit;
        display: inline-block;
        padding-top: 4em;
        height: auto; }
        #middle #project article h2 {
          border: none;
          font-family: gotham_thin, Arial, sans-serif;
          padding: 0.2em 0;
          font-weight: bold;
          background: transparent;
          color: #5f856a; }
        #middle #project article ul {
          list-style-type: square;
          margin: 0 auto; }
          #middle #project article ul li {
            text-align: left;
            padding: 0.5em 1em;
            line-height: 2em; }
        #middle #project article p {
          line-height: 2em;
          padding: 0.3em 1em; }
    #middle #contact-form {
      width: 100%;
      margin: 2em 0;
      background: transparent;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      color: #5f856a; }
      #middle #contact-form h3 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        line-height: inherit;
        font-family: gotham_light, Arial, sans-serif;
        font-size: 3em;
        opacity: 1;
        padding: 0.5em;
        color: #5f856a;
        background: transparent; }
      #middle #contact-form h4 {
        line-height: 1.5em;
        text-align: center; }
      #middle #contact-form h5 {
        padding: 1em 0;
        text-align: center;
        font-size: 2em;
        font-weight: bold; }
        #middle #contact-form h5 u {
          text-decoration: none;
          border-top: 1px dashed #5f856a;
          border-bottom: 1px dashed #5f856a;
          padding: 0.2em 0; }
        #middle #contact-form h5 u:hover {
          color: #a9cfbd;
          border-color: #a9cfbd; }
      #middle #contact-form aside {
        padding: 0.4em 0;
        text-align: center;
        font-size: 5em; }
      #middle #contact-form input[type="text"],
      #middle #contact-form input[type="email"],
      #middle #contact-form textarea {
        width: 100%;
        border: 1px solid #CCC;
        background: #FFF;
        padding: 0.3em 0;
        margin: 0.3em 0;
        border-radius: 5px; }
      #middle #contact-form textarea {
        height: 200px; }
      #middle #contact-form button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #5f856a;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        border-radius: 5px;
        font-size: 20px; }
      #middle #contact-form button[type="submit"]:hover {
        background: #3a4847; }

  footer {
    padding: 1em 0;
    text-align: right;
    color: white;
    background: url(/images/texture/bdy_color.jpg);
    clear: both; }
    footer aside {
      display: inline; }
      footer aside i {
        position: relative;
        top: -0.2em;
        font-size: 2em;
        float: left;
        padding: 0 0.1em; }
    footer aside + aside {
      padding-right: 0.5em; } }
@media only screen and (min-width: 820px) {
  body {
    font-size: 16px; }

  header {
    text-align: left;
    position: fixed;
    width: 100%;
    height: 75px;
    font-family: gotham_book, Arial, sans-serif;
    background: url(/images/texture/bdy.png);
    color: white;
    border-bottom: 3px solid #9aac60;
    z-index: 10; }
    header #title {
      padding-left: 0.9em;
      position: relative;
      top: 0.5em;
      display: inline-block; }
    header h1 {
      font-size: 2.4em; }
      header h1 span, header h1 span + span + span {
        color: #5f856a; }
      header h1 span + span {
        color: #9aac60; }
    header h2 {
      position: relative;
      left: 0.1em;
      top: -0.2em;
      color: #5f856a;
      font-size: 1.4em;
      font-family: gotham_thin, Arial, sans-serif; }
    header #mobileMenu {
      display: none; }
    header nav {
      position: absolute;
      right: 0.8em;
      bottom: 0;
      height: 100%; }
      header nav ul {
        height: 100%; }
        header nav ul li {
          display: inline-block;
          height: 100%;
          min-width: 100px;
          text-align: center;
          color: #5f856a; }
          header nav ul li a {
            display: block;
            position: relative;
            height: 100%; }
            header nav ul li a span {
              position: relative;
              top: 35%; }
        header nav ul #currentPage {
          background: #9aac60;
          color: white; }

  #middle {
    background: url(/images/texture/bdy.png);
    position: relative;
    padding-top: 75px; }
    #middle article[id^="proj"] {
      display: block;
      height: 35vw;
      width: 50%;
      float: left;
      margin: 0;
      background: grey; }
    #middle #proj_1 {
      background: url(/images/pdy01.png);
      background-size: 100%;
      background-repeat: no-repeat; }
    #middle #proj_2 {
      background: url(/images/gpp01.png);
      background-size: 100%; }
    #middle #proj_3 {
      background: url(/images/mobile1.png);
      background-size: 70%;
      background-repeat: none;
      background-position: center; }
    #middle #proj_4 {
      background: url(/images/hr03.png);
      background-size: 100%; }
    #middle #proj_5 {
      background: url(/images/ignite01.png);
      background-size: 100%; }
    #middle #proj_6 {
      background: url(/images/franzi01.png);
      background-size: 100%; }
    #middle #proj_7 {
      background: url(/images/mountain01.png);
      background-size: 100%; }
    #middle h3 {
      display: block;
      text-align: center;
      text-transform: uppercase;
      height: 100%;
      line-height: 35vw;
      color: white;
      font-family: gotham_book, Arial, sans-serif;
      font-size: 3em;
      background-color: rgba(95, 133, 106, 0.93); }
      #middle h3 span {
        vertical-align: middle;
        line-height: normal; }
    #middle #bio, #middle #bioPreview {
      color: #5f856a;
      padding: 0.5em 1em; }
      #middle #bio figure, #middle #bioPreview figure {
        width: 33%;
        height: 270px;
        background: url(/images/pic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        float: left; }
      #middle #bio article, #middle #bioPreview article {
        float: right;
        width: 64.55%;
        height: auto;
        display: inline-block;
        position: relative;
        right: 10px;
        margin: 0;
        background: none; }
        #middle #bio article h2, #middle #bioPreview article h2 {
          font-size: 2em;
          padding-bottom: 0.2em;
          text-transform: uppercase; }
        #middle #bio article p, #middle #bio article aside, #middle #bioPreview article p, #middle #bioPreview article aside {
          padding-top: 1em;
          line-height: 1.5em; }
      #middle #bio .fa, #middle #bioPreview .fa {
        padding-right: 0.5em; }
      #middle #bio aside .fa, #middle #bioPreview aside .fa {
        font-size: 2.5em;
        padding: 0; }
    #middle #bioPreview article {
      width: 100%;
      float: none;
      display: block;
      position: relative;
      line-height: 2.5em;
      left: 0; }
      #middle #bioPreview article h2 {
        font-size: 2.2vw;
        padding: 0.5em 0;
        text-align: center;
        font-family: gotham_thin; }
      #middle #bioPreview article span {
        font-family: gotham_book;
        color: #9aac60; }
    #middle #hardSkills, #middle #achievement {
      color: #5f856a;
      padding: 0.5em 1em; }
      #middle #hardSkills h2, #middle #achievement h2 {
        font-size: 2em;
        text-transform: uppercase;
        font-family: gotham_book, Arial, sans-serif;
        text-align: center; }
      #middle #hardSkills section, #middle #achievement section {
        padding-top: 1em; }
        #middle #hardSkills section h2, #middle #achievement section h2 {
          padding: 0.3em 0;
          font-size: 1.5em;
          font-family: gotham_thin, Arial, sans-serif;
          color: white;
          background: #5f856a;
          text-transform: uppercase;
          text-align: center; }
      #middle #hardSkills ul li, #middle #achievement ul li {
        display: inline-block;
        padding: 0.3em 0;
        width: 49%; }
        #middle #hardSkills ul li .fa, #middle #achievement ul li .fa {
          padding-right: 0.5em; }
      #middle #hardSkills ul li:nth-child(odd), #middle #achievement ul li:nth-child(odd) {
        text-align: right;
        padding-right: 0.4em; }
        #middle #hardSkills ul li:nth-child(odd) .fa, #middle #achievement ul li:nth-child(odd) .fa {
          float: right;
          padding-left: 0.5em;
          clear: right; }
      #middle #hardSkills .ulOne, #middle #achievement .ulOne {
        color: #9aac60; }
        #middle #hardSkills .ulOne h2, #middle #achievement .ulOne h2 {
          background: #9aac60; }
      #middle #hardSkills .ulThree, #middle #achievement .ulThree {
        color: #3a4847; }
        #middle #hardSkills .ulThree h2, #middle #achievement .ulThree h2 {
          background: #3a4847; }
      #middle #hardSkills aside, #middle #achievement aside {
        text-align: right;
        font-family: gotham_light, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 1em;
        padding-top: 0.7em; }
    #middle #softSkills {
      padding-top: 1em; }
      #middle #softSkills ul {
        padding-top: 0.5em; }
        #middle #softSkills ul li {
          display: inline-block;
          padding: 0.2em 0;
          width: 49%; }
          #middle #softSkills ul li .fa {
            padding: none; }
    #middle #project {
      color: #5f856a; }
      #middle #project h2 {
        font-size: 4em;
        text-transform: uppercase;
        text-align: center;
        background: url(/images/texture/teal.jpg);
        color: white;
        font-family: gotham_light, Arial, sans-serif;
        border-bottom: 1px dashed #5f856a;
        padding: 1em 0; }
      #middle #project > p {
        font-size: 2em;
        text-align: center;
        background: #3a4847;
        color: white;
        font-family: gotham_thin, Arial, sans-serif;
        opacity: 0.9; }
        #middle #project > p a {
          padding: 0.3em 0;
          display: block; }
        #middle #project > p a:hover {
          background: #68807f; }
      #middle #project .crop-container {
        width: 49.5%;
        margin: 0.25% 0.25%;
        float: left;
        overflow: hidden; }
        #middle #project .crop-container img {
          display: block;
          width: 100%; }
      #middle #project article {
        background: inherit;
        display: block;
        width: 50%;
        float: left;
        height: auto;
        margin: 0;
        border: none; }
        #middle #project article h2 {
          font-size: 2em;
          border: none;
          font-family: gotham_light, Arial, sans-serif;
          padding: 0.5em 0;
          font-weight: bold;
          background: inherit;
          color: #5f856a; }
        #middle #project article ul {
          width: 90%;
          margin: 0 auto; }
          #middle #project article ul li {
            text-align: left;
            padding: 0.5em;
            line-height: 2em; }
        #middle #project article p {
          line-height: 2em;
          padding: 0.3em 1em; }
    #middle #contact-form {
      width: 50%;
      margin: 2em auto;
      background: transparent;
      padding: 1em;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      color: #5f856a; }
      #middle #contact-form h3 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        line-height: inherit;
        font-family: gotham_light, Arial, sans-serif;
        font-size: 3em;
        opacity: 1;
        padding: 0.5em;
        color: #5f856a;
        background: transparent; }
      #middle #contact-form h4 {
        line-height: 1.5em;
        text-align: center; }
      #middle #contact-form h5 {
        padding: 1em 0;
        text-align: center;
        font-size: 3em;
        font-weight: bold; }
        #middle #contact-form h5 u {
          text-decoration: none;
          border-top: 1px dashed #5f856a;
          border-bottom: 1px dashed #5f856a;
          padding: 0.2em 0; }
        #middle #contact-form h5 u:hover {
          color: #a9cfbd;
          border-color: #a9cfbd; }
      #middle #contact-form aside {
        padding: 0.4em 0;
        text-align: center;
        font-size: 5em; }
      #middle #contact-form input[type="text"],
      #middle #contact-form input[type="email"],
      #middle #contact-form textarea {
        width: 100%;
        border: 1px solid #CCC;
        background: #FFF;
        padding: 0.3em 0;
        margin: 0.3em 0;
        border-radius: 5px; }
      #middle #contact-form textarea {
        height: 200px; }
      #middle #contact-form button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #5f856a;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        border-radius: 5px;
        font-size: 20px; }
      #middle #contact-form button[type="submit"]:hover {
        background: #3a4847; }

  footer {
    padding: 1em 0;
    text-align: right;
    color: white;
    background: url(/images/texture/bdy_color.jpg);
    height: 20px; }
    footer aside {
      display: inline; }
      footer aside i {
        position: relative;
        left: 0.4em;
        top: -0.2em;
        font-size: 2em;
        float: left;
        padding: 0 0.1em; }
    footer aside + aside {
      padding-right: 1em; } }
/* FOR EXTREMELY LARGE MONITORS */
@media only screen and (min-width: 1280px) {
  header #title {
    padding-left: 6%; }
  header nav {
    right: 6%; }

  #middle #projectContainer {
    width: 100%; }
  #middle article[id^="proj"] {
    display: block;
    height: 35vw;
    width: 50%;
    float: left;
    margin: 0;
    background: grey; }
  #middle h3 {
    line-height: 35vw; }
  #middle #bio {
    color: #5f856a;
    padding: 0.5em 1em;
    width: 88%;
    margin: 0 auto; }
  #middle #bioPreview article {
    width: 89%;
    margin: 0 auto;
    float: none;
    display: block;
    text-align: center; }
  #middle #hardSkills, #middle #achievement {
    color: #5f856a;
    padding: 0.5em 1em;
    width: 88%;
    margin: 0 auto; }
    #middle #hardSkills section, #middle #achievement section {
      padding-top: 1em;
      width: 33%;
      float: left; }
      #middle #hardSkills section ul, #middle #achievement section ul {
        padding-top: 0.5em; }
        #middle #hardSkills section ul li, #middle #achievement section ul li {
          display: inline-block;
          padding: 0.2em 0;
          width: 49%; }
          #middle #hardSkills section ul li .fa, #middle #achievement section ul li .fa {
            padding: none; }
        #middle #hardSkills section ul li:nth-child(odd), #middle #achievement section ul li:nth-child(odd) {
          text-align: right;
          padding: 0; }
          #middle #hardSkills section ul li:nth-child(odd) .fa, #middle #achievement section ul li:nth-child(odd) .fa {
            float: right;
            clear: right; }
  #middle #project {
    color: #5f856a; }
    #middle #project h2 {
      font-size: 4em;
      text-transform: uppercase;
      text-align: center;
      background: url(/images/texture/teal.jpg);
      color: white;
      font-family: gotham_light, Arial, sans-serif;
      border-bottom: 1px dashed #5f856a;
      padding: 0.5em 0; }
      #middle #project h2 span {
        width: 88%;
        margin: 0 auto; }
    #middle #project > p {
      font-size: 2em;
      text-align: center;
      background: #3a4847;
      color: white;
      font-family: gotham_thin, Arial, sans-serif;
      opacity: 0.9; }
      #middle #project > p a {
        padding: 0.2em 0;
        display: block; }
      #middle #project > p a:hover {
        background: #68807f; }
    #middle #project #projectInfoContainer {
      width: 88%;
      margin: 0 auto; }
    #middle #project article:first-of-type {
      padding: 3em 0; }
    #middle #project article {
      background: inherit;
      display: block;
      height: auto;
      border: none;
      margin: 0 auto; }
      #middle #project article h2 {
        font-size: 2em;
        border: none;
        font-family: gotham_light, Arial, sans-serif;
        padding: 0.5em 0;
        font-weight: bold;
        background: inherit;
        color: #5f856a; }
      #middle #project article ul {
        text-align: center; }
        #middle #project article ul li {
          padding: 0.5em; }
      #middle #project article p {
        padding: 0.3em 1em; }

  footer aside {
    display: inline; }
    footer aside i {
      position: relative;
      left: 6%;
      top: -0.2em;
      font-size: 2em;
      float: left;
      padding: 0 0.1em; }
  footer aside + aside {
    padding-right: 6%; } }
